img {

    border-radius: 4%;

}

.divi {
    margin: 30px auto;
    color: hsl(30, 18%, 87%);
}

body {
    width: 1440px;
    background-color: hsl(30, 54%, 90%);

}

main {
    border-radius: 10px;
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
}

#last {
    p {
        padding-left: 2%;
    }
}

#box {
    margin: 20px auto;

    width: 100%;
    background-color: hsl(330, 100%, 98%);

    ul {
        padding: 0px 20px 20px 50px;

    }

    .text {
        padding: 20px 20px 0px 20px;
        margin-bottom: 0px;
    }
}

h2 {
    color: hsl(14, 45%, 36%);
    padding-left: 2%;
    font-size: 25px;
}

.text {


    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;

}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    tr {
        border: 1px solid transparent;

        td {
            padding: 11px 32px;
        }
    }

    tr:not(:last-child) {
        border-bottom: 1px solid #8c8f70;
    }

    .nombre {
        color: black;
    }

    .num {
        color: brown;

    }
}

.text {
    color: hsl(332, 51%, 32%);
    font-size: 25px;
}

h1 {
    color: black;
    font-size: 40px;

}