* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    text-align: right;
    margin-right: 2cm;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

section>ul {
    height: 300px;
    border: solid 3px rgb(178, 150, 112);
}


.card {
    background-color: rgb(178, 150, 112);
    width: 15cm;
    margin: auto;
}

.card3,
.card4,
.card2 {
    background-color: rgb(178, 150, 112);
    width: 15cm;
    margin: auto;

}

a {
    list-style: none;
    text-decoration: none;
    color: white;

}



body {

    background-color: rgb(241, 218, 188);

}

main {
    text-align: center;
}

footer>section {
    border: solid 2px rgb(81, 39, 6);
    height: 5%;
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin-bottom: 4%;
}