* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.links {
    font-size: 12px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 30px;

}

a img {
    width: 15px;
    height: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
}

article {
    display: flex;
    bottom: 50%;
}