* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#block>a {
    background-color: rgb(226, 43, 43);
    display: block;
}

#container {
    width: 100%;
    background-color: blue;
    display: inline;
    gap: 5cm;

}